<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="secondary">
      <ion-icon color="secondary" name="menu"></ion-icon>
    </button>
    <ion-title>Gestión Mozos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <page-spinner [hidden]="!mostrarSpinner && !cargaListaEspera"></page-spinner>
  <page-listado-espera [mostrar-spinner]="cargaListaEspera"></page-listado-espera>
  <ion-row *ngIf="reservasAgendadas.length > 0" >
    <ion-col>
      <ion-card>
        <ion-card-header><b>Reservas Agendadas</b></ion-card-header>
        <ion-row *ngFor="let c of reservasAgendadas">
          <ion-col>
            <ion-row>
              <ion-col style="padding-bottom: 0px;">
                {{c.nombre}}
              </ion-col>
              <ion-col style="padding-bottom: 0px;">
                ({{c.comensales}} comensales)
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col text-center>
            <button ion-button round color="light" (click)="confirmarReserva(c)">
              Confirmar
            </button>
          </ion-col>
          <ion-col>
            Fecha: {{c.fecha}}
          </ion-col>
          <ion-col *ngIf="c.comensales > comensalesMax || noHayMesasLibres" text-center>
            <button  ion-button round color="light" disabled>
              <ion-icon color="secondary" name="qr-scanner" style="margin-right:5px;"></ion-icon>
              Asignar
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <button ion-button round color="light" (click)="escanearQR('hacerPedido')">
        <ion-icon color="secondary" name="qr-scanner" style="margin-right:5px;"></ion-icon>
        Hacer un pedido
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <button ion-button round color="light" (click)="escanearQR('verPedido')">
        <ion-icon color="secondary" name="qr-scanner" style="margin-right:5px;"></ion-icon>
        Ver estado de un pedido
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <button ion-button round color="light" (click)="irA('verPedidosEntrega')">
        <ion-icon color="secondary" name="list" style="margin-right:5px;"></ion-icon>
        Gestionar pedidos
      </button>
    </ion-col>
  </ion-row>

</ion-content>
