@import "../../theme/variables.scss";

page-delivery-pedidos{
  .scroll-content{
    background-color: $first-detail-color;
  }

  .direccion{
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  .infoExtra{
    color: white;
    font-size: 1.5rem;

  }

}
