page-alta-mesa {
    
    .scroll-content{
        height: 100vh;
   }

    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
    }

}


