@import "../../theme/variables.scss";

page-reservar-agendadas{
  .scroll-content{
    background-color: $first-detail-color;
  }

  .reserva-title{
    color: white;
    font-weight: 500;
    font-size: 2rem;
  }

  //.item-label-floating .text-input-md {
  //  margin-top: 0px !important;
  //  margin-bottom: 5px;
  //}
}
