<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="dark" name="menu"></ion-icon>
    </button>
    <ion-title>Chat delivery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list *ngFor="let item of chat.conversaciones" style="padding: 10px;">
    <ion-item class="itemmsj" style="padding: 0px !important;">
      <ion-row *ngIf="item.usuario!=userActual">
        <ion-col>
          <ion-row>
            <ion-col>
              <p style="color: #4fb952;">{{item.usuario}}:</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-weight: 500;" >
              {{item.mensaje}}
              <hr style="margin:0%; background-color:rgb(71,165,80)">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-col style="color: #c5c5c5; font-size: 1.3rem; text-align: right; height: 100%;">
                {{item.fecha}}
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="item.usuario==userActual">
        <ion-col>
          <ion-row>
            <ion-col>
              <p class="yo" style="color: #00b7ff;">Yo:</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  class="yo" style="font-weight: 500;" >
              {{item.mensaje}}
              <hr style="margin:0%; background-color:rgb(0, 183, 255)">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="color: #c5c5c5; font-size: 1.3rem; text-align: right; height: 100%;">
                {{item.fecha}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <table border="0">
      <tr >
        <td class="tdinput">
          <ion-item class="textbox">
            <ion-input maxlength="25" id="msg" [(ngModel)]="mensaje" type="text" name="msg" placeholder="Escriba su mensaje aqui..."></ion-input>
          </ion-item></td>
        <td><button class="btsend" ion-button (click)="Push()"><ion-icon name="md-send"></ion-icon></button></td>
      </tr>
    </table>
  </ion-toolbar>
</ion-footer>
