@import "../../theme/variables.scss";

page-encuesta-cliente-resultados{

  .scroll-content{
    background-color: $first-detail-color !important;
  }

  .title{
    color: $first-detail-color;
    font-size: 2rem;
  }



}
