<!--
  Generated template for the EncuestaEmpleadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Encuesta Empleado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let p of preguntas">
  <ion-row >
    <ion-col class="pregunta-titulo">
        {{p.pregunta}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="p.control === radio">
      <ion-list>
          <ion-item *ngFor='let o of p.opciones'>
            <ion-label>{{o.opc}}</ion-label>
            <ion-radio value="friends" checked></ion-radio>
          </ion-item>
      </ion-list>
  </ion-row>
</div>
    <button>Cargar Foto</button>
    <br>
    <button>Sacar Foto</button>
    
    <h1>Si está todo Ok, habilito los gráficos y permito abandonar la Encuesta</h1>
    
    <button (click)="irA()"> -> Seguir</button> 
</ion-content>
