page-encuesta-empleado {

    .scroll-content{
        background-color: $first-detail-color;
     }
     .pregunta-titulo{
        color: white;
        text-align: justify;
        font-size: 1.5rem;
      }

      .elemento{
          font-size: 0.4em;
          

      }
}
