$font-path: "../assets/fonts";

$app-direction: ltr;

$first-detail-color: #007c96;
$second-detail-color:#dde9de;
$third-detail-color: #444d54;
$fourth-detail-color: beige;
$background-color: white;
$error-color: #d22c0e;
$success-color: rgb(20, 170, 20) ;
$warning-color: rgb(255, 217, 0);

@import "ionic.globals";

.loading-md .loading-wrapper{
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  //transform: scale(2) !important;
}

$loading-md-spinner-color	: red;//$first-detail-color;



$colors: (
  primary:    $first-detail-color,
  secondary:  #005263,
  third:      beige,
  fourth:     rgb(100, 99, 100),
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  warning:    $warning-color,
  success:    $success-color,
  camera: #000
);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
