<!--
  Generated template for the ListadoEsperaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>listadoEspera</ion-title>
  </ion-navbar>

</ion-header>
-->


    <ion-card>
    <ion-card-header><b>Clientes en lista de espera</b></ion-card-header>
      <ion-row *ngFor="let c of clientesEspera">
        <ion-col>{{c.nombre}} <br> ({{c.comensales}} comensales)</ion-col>
        <ion-col *ngIf="c.comensales <= comensalesMax"  text-center>
          <button ion-button round color="light" (click)="escanearQR('Reservar',c)">
            <ion-icon color="secondary" name="qr-scanner" style="margin-right:5px;"></ion-icon>
            Asignar
          </button>
        </ion-col>
        <ion-col *ngIf="c.comensales > comensalesMax || noHayMesasLibres" text-center>
          <button  ion-button round color="light" disabled>
            <ion-icon color="secondary" name="qr-scanner" style="margin-right:5px;"></ion-icon>
            Asignar
          </button>
        </ion-col>
      </ion-row>  
    </ion-card>

